@charset "utf-8";

::-webkit-scrollbar {
  width: 8px; /*스크롤바의 너비*/
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #666; /*스크롤바의 색상*/
}

::-webkit-scrollbar-track {
  display: none;
}

#wrap {
  width: 100vw;
  position: relative;
}

/* 헤더 기본 설정 */
header {
  width: 100%;
  height: 120px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background: #000;
  color: #fff;
  font-weight: 500;
  position: fixed;
  top: 0;
  z-index: 9;
}

/* 헤더 콘텐츠 중복 속성 시작 */
header :where(.logo, button, li) {
  cursor: pointer;
}

header :where(.logo, .menu-container, .list-group) {
  height: 50px;
}
/* 헤더 콘텐츠 중복 속성 끝 */

/* 헤더 - 로고 */
header > .logo {
  width: 110px;
  background: url(../img/logo.png) no-repeat center center / 110px 32px;
}

/* 헤더 - 아이콘 컨테이너 */
header > .menu-container {
  width: 40%;
}

.menu-container .list-group {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.list-group li a {
  display: inline-block;
  width: 60px;
  height: 20px;
  color: #fff;
}

.list-group li > button {
  width: 56px;
  background: url(../img/search.png) no-repeat right center / 24px 24px;
}

.list-group li:nth-of-type(4) a {
  width: 70px;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  background: #fee500;
  color: #000;
  text-align: center;
}

header > .anchor-container {
  width: 80%;
  height: 25px;
  display: flex;
  justify-content: space-evenly;
}
