@charset "utf-8";

/* 전체 비디오 컨테이너 */
#videolist-container {
    width: 95%;
    height: 4500px;
    display: flex;
    flex-flow: row nowrap;
    padding-top: 120px;
    margin-left: 5%;
}

/* 왼쪽 섹션 컨테이너 시작 */
#videolist-container>section[class*=section_left] {
    width: 50%;
    height: 4300px;
    display: flex;
    flex-flow: column nowrap;
    background: yellow;
}

/* 왼쪽 섹션 - 인기 오리지널 컨테이너 스타일 시작 */
#videolist-container>section[class*=section_left]>div[class*=original-container] {
    width: 100%;
    height: 1500px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background: purple;
}

#videolist-container>section[class*=section_left]>div[class*=original-container]>h2 {
    width: 95%;
    height: 120px;
    font-size: 2.3em;
    padding-top: 80px;
}

/* 왼쪽 섹션 - 인기 오리지널 비디오&텍스트 컨테이너 */
#videolist-container>section[class*=section_left]>div[class*=original-container]>div[class*=original-list] {
    width: 240px;
    height: 240px;
}

/* 왼쪽 섹션 - 인기 오리지널 비디오 */
#videolist-container>section[class*=section_left]>div[class*=original-container]>div[class*=original-list]>div[class*=original] {
    width: 240px;
    height: 140px;
    background: #f7f7f7;
    position: relative;
}

/* 왼쪽 섹션 - 인기 오리지널 텍스트 */
#videolist-container>section[class*=section_left]>div[class*=original-container]>div[class*=original-list]>div[class*=title] {
    width: 240px;
    height: 100px;
    background: skyblue;
}

/* 왼쪽 섹션 - 인기 오리지널 컨테이너 스타일 끝 */

/* 왼쪽 섹션 - 셀럽들의 라이프스타일 컨테이너 스타일 시작 */
#videolist-container>div[class*=popularvideo1-container] {
    width: 50%;
    height: 1500px;
    background: grey;
}

#videolist-container>div[class*=popularvideo1-container]>div[class*="popularvideo1-list"] {
    width: 240px;
    height: 240px;
    background: purple;
}

/* 왼쪽 섹션 컨테이너 끝 */

/* 오른쪽 섹션 컨테이너 시작 */
#videolist-container>section[class*=section_right] {
    width: 50%;
    height: 4300px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    background: #eee;
}

/* 오른쪽 섹션 - 인기 라이브 컨테이너 스타일 시작 */
#videolist-container>section[class*=section_right]>div[class*=livelist] {
    width: 50%;
    height: 4000px;
    background: #eee;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

#videolist-container>section[class*=section_right]>div[class*=livelist]>h2 {
    width: 100%;
    font-size: 1.7em;
}

/* 오른쪽 섹션 - 인기 라이브 비디오&텍스트 박스 */
#videolist-container>section[class*=section_right]>div[class*=livelist]>div[class*=livebox] {
    width: 70%;
    height: 300px;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: space-evenly;
    background: orange;
}

/* 오른쪽 섹션 - 인기 라이브 비디오 */
#videolist-container>div[class*=livelist]>div[class*=livebox]>div[class*=livevideo] {
    width: 40%;
    height: 140px;
    background: pink;
}

/* 오른쪽 섹션 - 인기 라이브 텍스트 박스 */
#videolist-container>div[class*=livelist]>div[class*=livebox]>div[class*=title] {
    width: 40%;
    height: 100px;
    background: yellow;
}

/* 섹션 - 인기 라이브 컨테이너 스타일 끝 */