@charset "utf-8";

/* 전체 비디오 컨테이너 */
#videolist-container {
  width: 100%;
  height: 4500px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  padding-top: 120px;
}

/* 왼쪽 섹션 컨테이너 시작 */
.section_left {
  width: 50%;
  height: 1500px;
  display: flex;
  flex-flow: column nowrap;
  background: #eee;
}

/* 왼쪽 섹션 - 인기 오리지널 컨테이너 스타일 시작 */
.section_left .original-container {
  width: 100%;
  height: 900px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.original-container > h2 {
  width: 95%;
  height: 120px;
  font-size: 2.3em;
  padding-top: 40px;
}

/* 왼쪽 섹션 - 인기 오리지널 비디오&텍스트 컨테이너 */
.original-container .original-list {
  width: 280px;
  height: 220px;
}

/* 왼쪽 섹션 - 인기 오리지널 비디오 */
.original-list .originalvideo {
  width: 100%;
  height: 165px;
  position: relative;
}

.original-list .originalvideo img {
  width: 100%;
}

/* 왼쪽 섹션 - 인기 오리지널 텍스트 */
.original-list .title {
  width: 100%;
  height: 50px;
  background: skyblue;
}
/* 왼쪽 섹션 - 인기 오리지널 컨테이너 스타일 끝 */

/* 왼쪽 섹션 - 셀럽들의 라이프스타일 컨테이너 스타일 시작 */
.section_left .popularvideo1-container {
  width: 100%;
  height: 600px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: flex-start;
  background: grey;
}

.popularvideo1-container > h2 {
  width: 100%;
  height: 50px;
}

/* 왼쪽 섹션 - 셀럽들의 라이프스타일 비디오&텍스트 컨테이너 */
.popularvideo1-container .popularvideo1-list {
  width: 20%;
  height: 240px;
  background: purple;
}

/* 왼쪽 섹션 - 셀럽들의 라이프스타일 비디오 */
.popularvideo1-list .popularvideo {
  width: 80%;
  height: 78px;
  background: red;
}

/* 왼쪽 섹션 - 셀럽들의 라이프스타일 텍스트 */
.popularvideo1-list .title {
  width: 80%;
  height: 100px;
  background: green;
}
/* 왼쪽 섹션 컨테이너 끝 */

/* 오른쪽 섹션 컨테이너 시작 */
#videolist-container .section_right {
  width: 40%;
  height: 820px;
  overflow-x: hidden;
  overflow-y: scroll;
  position: sticky;
  top: 120px;
}

/* 오른쪽 섹션 컨테이너 스크롤바 */
#videolist-container .section_right::-webkit-scrollbar-thumb {
  visibility: hidden;
}

/* 오른쪽 섹션 - 인기 라이브 컨테이너 스타일 시작 */
.section_right .livelist-container {
  width: 100%;
  height: 7000px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 50px 0;
}

.livelist-container .portrait-title {
  width: 400px;
}

.portrait-title a img {
  width: 100%;
}

/* 오른쪽 섹션 - 인기 라이브 비디오&텍스트 박스 */
.livelist-container .livebox {
  width: 400px;
  height: 650px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  background: #000;
  border-radius: 20px;
  position: relative;
}

/* 오른쪽 섹션 - 인기 라이브 비디오 */
.livebox .livevideo {
  width: 100%;
}

.livebox .livevideo iframe {
  border-radius: 20px;
}

.livebox > .menuContainer {
  width: 40px;
  height: 200px;
  position: absolute;
  right: -50px;
  bottom: 50px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  /* background: yellow; */
}

.livebox > .menuContainer button {
  width: 32px;
  height: 32px;
  background: no-repeat top center / 32px 32px;
}

.livebox > .menuContainer button:nth-of-type(1) {
  background-image: url(../img/like.png);
}

/* .menuContainer button:nth-of-type(1)::after {
  content: "164";
  display: inline-block;
  width: 32px;
  text-align: center;
  line-height: 70px;
} */

.livebox > .menuContainer button:nth-of-type(2) {
  background-image: url(../img/comment.png);
  background-size: 24px 24px;
}

.livebox > .menuContainer button:nth-of-type(3) {
  background-image: url(../img/share.png);
}
/* 섹션 - 인기 라이브 컨테이너 스타일 끝 */
