@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li,
ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    /* overflow-x: hidden;
    overflow-y: scroll; */
    font-size: 0.85em;
    font-family: 'Gothic A1', sans-serif;
}