@charset "utf-8";

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li,
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* 버튼 기본 설정 */
button {
  all: unset;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 0.9em;
  font-family: "Gothic A1", sans-serif;
}
